@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

:root {
  --background:#222222;
  --foreground:#f1f1f1;
  --red:#fb007a;
  --red-2:#da227c;
  --green:#01a778;
  --green-2:#337965;
  --grey:#303030;
  --grey-2:#757575;
  --grey-3:#696969;
  --grey-4:#959595;
  
}


.dark-theme,
html[data-theme="dark"] {

  /* background */
  --ls-primary-background-color:var(--background);
  --ls-secondary-background-color: var(--grey);
  --ls-tertiary-background-color: var(--background);
  --ls-quaternary-background-color: var(--grey);
  --ls-selection-background-color: var(--grey);

  /* text */
  --ls-active-primary-color:var(--foreground);
  --ls-active-secondary-color:var(--red);

  --ls-primary-text-color:var(--foreground);
  --ls-secondary-text-color:var(--green);
  
  /* title */
  --ls-head-text-color: var(--red);
  --ls-title-text-color: var(--red);

  --ls-guideline-color: var(--green);
  /* --color-level-1:var(--grey); */

  /* links */

  --ls-link-text-color: var(--grey-2);
  --ls-link-text-hover-color: var(--red-2);

  --ls-link-ref-text-color: var(--green);
  --ls-link-ref-text-hover-color: var(--green-2);
  --ls-block-ref-link-text-color: var(--grey);

  /* tags */

  --ls-tag-text-color: var(--green);
  --ls-tag-text-hover-color: var(--green-2);

  /* bullets */
  --ls-block-bullet-border-color: var(--grey);
  --ls-block-bullet-color: var(--grey-2);
  --ls-block-highlight-color: var(--grey);
  --ls-block-properties-background-color: var(--grey);

  /* checkbox */
  --ls-page-checkbox-color: var(--green);
  --ls-page-checkbox-border-color: var(--red);

  /* blockquote */
  --ls-page-blockquote-color: var(--foreground);
  --ls-page-blockquote-bg-color: var(--grey);
  --ls-page-blockquote-border-color: var(--green);
  --ls-page-properties-background-color: var(--grey);
  /* code */
  --ls-page-inline-code-color: var(--foreground);
  --ls-page-inline-code-bg-color: var(--grey);

  /* scrollbar */
  --ls-scrollbar-background-color: var(--background);
  --ls-scrollbar-foreground-color: var(--grey);
  --ls-scrollbar-thumb-hover-color: var(--red);

  /* search */
  --ls-search-background-color: var(--background);
  --ls-border-color: var(--grey);
  --ls-secondary-border-color: var(--grey);
  --ls-menu-hover-color: var(--grey);
  --ls-table-tr-even-background-color: var(--grey);

}

html[data-theme="dark"] .CodeMirror {
  font-family:'Fira Code';
  background: var(--grey);
  color:var(--foreground);
  box-shadow:none;
}
html[data-theme="dark"] .CodeMirror-linenumbers {
  background: var(--grey-2);
  color:var(--grey);
}

html[data-theme="dark"] .CodeMirror-linenumber {
  background: var(--grey-2);
  color:var(--foreground)!important;
  text-shadow:none!important;
}
